@using UniversityCourseAndResultManagementSystemApp.Models

@{
    ViewBag.Title = "AllocateClassRoom";
    List<Department> deptList = ViewBag.deptList;
    List<int> rooms = ViewBag.rooms;
    List<string> days = ViewBag.days;
    string message = ViewBag.message;
}

<div id="container">
    <form id="AllocateClassRoom" class="well form-horizontal" method="GET">
        <fieldset>

            <legend><center><h2><b>ADD COURSE</b></h2></center></legend><br>

            @if (message != null)
            {
                <h3 align="center">@message</h3>
            }

            <div class="form-group">
                <label for="DeptCode" class="col-md-4 control-label">DEPARTMENT</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>

                        <select class="form-control selectpicker" id="DeptCode" name="DeptCode">
                            <option value="default">
                                ---SELECT--
                            </option>
                            @if (deptList != null)
                            {
                                foreach (Department department in deptList)
                                {
                                    <option value="@department.DeptCode">@department.DeptName</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="CourseCode" class="col-md-4 control-label">COURSE</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control selectpicker" id="CourseCode" name="CourseCode">
                            <option value="default">
                                ---SELECT--
                            </option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="RoomNo" class="col-md-4 control-label">ROOM NO.</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control selectpicker" id="RoomNo" name="RoomNo">
                            <option value="default">
                                ---SELECT--
                            </option>
                            @if (rooms != null)
                            {
                                foreach (int room in rooms)
                                {
                                    <option value="@room">@room</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Day" class="col-md-4 control-label">DAY</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control selectpicker" id="Day" name="Day">
                            <option value="default">
                                ---SELECT--
                            </option>
                            @if (days != null)
                            {
                                foreach (string day in days)
                                {
                                    <option value="@day">@day</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="FromTime" class="col-md-4 control-label">FROM</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <input name="FromTime" id="FromTime" placeholder="" class="form-control" type="time" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="ToTime" class="col-md-4 control-label">TO</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <input name="ToTime" id="ToTime" placeholder="" class="form-control" type="time" />
                    </div>
                </div>
            </div>




            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4" style="margin-left: 54%;">
                    <br>
                    <button type="submit" class="btn btn-warning">SAVE COURSE<span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>


        </fieldset>
    </form>

</div>

@section scripts
{
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            

            $("#DeptCode").change(function () {
                var DeptCode = $("#DeptCode").val();
                var json = { StudentDept: DeptCode };
                $("#CourseCode").empty();
                $("#CourseCode").append('<option value="default">---SELECT---</option>');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCoursesByDepartment", "Student")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#CourseCode").append('<option value="' + value.CourseCode + '">' + value.CourseCode + '</option>');
                        });
                    }
                });
                
            });

            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg !== value;
            }, "Value must not equal arg.");

            $.validator.addMethod("timey", function (value, element, arg) {
                var hour = parseInt(value.substring(0, 2));
                return hour > 7 && hour < 23;
            }, "Invalid time");

            $("#AllocateClassRoom").validate({
                rules: {
                    DeptCode: { valueNotEquals: "default" },
                    CourseCode: { valueNotEquals: "default" },
                    RoomNo: { valueNotEquals: "default" },
                    Day: { valueNotEquals: "default" },
                    FromTime: { timey: "s" },
                    ToTime: { timey: "s" }
                },
                messages: {
                    DeptCode: { valueNotEquals: "Please select Department!" },
                    CourseCode: { valueNotEquals: "Please select Course!" },
                    RoomNo: { valueNotEquals: "Please select Room No!" },
                    Day: { valueNotEquals: "Please select WeekDay!" },
                    FromTime: { timey: "Please select From Time!" },
                    ToTime: { timey: "Please select To Time!" }
                }

            });


        });
    </script>
}