@using UniversityCourseAndResultManagementSystemApp.Models

@{
    ViewBag.Title = "AddCourse";
    List<Department> deptList = ViewBag.deptList;
    List<string> semList = ViewBag.semList;
    string message = ViewBag.message;
}

<div class="main container">
		
    <div class="ui accordion">
					
        <div data-demo="#form-signup_v3" class="demo">

            <div class="content active">
							
                <div class="ui two column relaxed grid basic segment">
                    <div class="column">
                        <div class="ui form segment">
                            <form id="form-signup_v3" name="form-signup_v3" method="POST">
                                @if (message != null)
                                {
                                    <h4>@message</h4>
                                }
                                <div class="field">
                                    <label for="CourseCode">COURSE CODE</label>
                                    <div class="ui left labeled input">

                                        <input id="CourseCode"
                                               name="CourseCode"
                                               type="text"
                                               data-validation="[L>=6, L<=18, MIXED]"
                                               data-validation-message="$ is Required"
                                               data-toggle="popover"
                                               data-content="You can use letters and numbers, no space or special characters"/>

                                        <div class="ui corner label">
                                            <i class="asterisk icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="CourseName">COURSE NAME</label>
                                    <div class="ui left labeled input">

                                        <input id="CourseName"
                                               name="CourseName"
                                               type="text"
                                               data-validation="[L>=6, L<=18, MIXED]"
                                               data-validation-message="$ is Required"
                                               data-toggle="popover"
                                               data-content="You can use letters and numbers, no space or special characters"/>

                                        <div class="ui corner label">
                                            <i class="asterisk icon"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="CourseCredit">COURSE CREDIT</label>
                                    <div class="ui left labeled input">

                                        <input id="CourseCredit"
                                               name="CourseCredit"
                                               type="text"
                                               data-validation="[L>=1, L<=18, MIXED]"
                                               data-validation-message="$ is Required"
                                               data-toggle="popover"
                                               data-content="You can use letters and numbers, no space or special characters"/>

                                        <div class="ui corner label">
                                            <i class="asterisk icon"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="CourseDe">DESCRIPTION</label>
                                    <div class="ui left labeled input">

                                        <input id="CourseDes"
                                               name="CourseDes"
                                               type="text"/>

                                        <div class="ui corner label">
                                            <i class="asterisk icon"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="field select">
                                    <label for="DeptCode">DEPARTMENT<strong class="ui font">*</strong></label>
                                    <div class="ui left labeled input">

                                        <select id="DeptCode"
                                                name="DeptCode"
                                                data-validation="[NOTEMPTY]"
                                                data-validation-message="You have to select a Department.">
                                            <option value="">
                                                ---SELECT--
                                            </option>
                                            @if (deptList != null)
                                            {
                                                foreach (Department department in deptList)
                                                {
                                                    <option value="@department.DeptCode">@department.DeptName</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>
                                
                                <div class="field select">
                                    <label for="CourseSemester">SEMESTER<strong class="ui font">*</strong></label>
                                    <div class="ui left labeled input">

                                        <select id="CourseSemester"
                                                name="CourseSemester"
                                                data-validation="[NOTEMPTY]"
                                                data-validation-message="You have to select a Semester.">
                                            <option value="">
                                                ---SELECT--
                                            </option>
                                            @if (semList != null)
                                            {
                                                foreach (string data in semList)
                                                {
                                                    <option value="@data">@data</option>
                                                }
                                            }
                                        </select>

                                    </div>
                                </div>

                                <input type="submit" class="ui blue submit button" value="SAVE">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    
    <script src="~/js/vendor.min.86d1279d.js"></script>
    <script src="~/js/jquery.validation.min.js"></script>
    <script src="~/js/form.validation.script.js"></script>
}